.main-bg {
  background-image: url(../image/shapes.png), url(../image/extra-elements.png);
  background-repeat: no-repeat;
  background-position: top 94px center, top 214px center;
  width: 1600px;
  height: 100%;
}
